@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,100&family=Pacifico&display=swap');

.header {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 3.5rem;
  padding-top:2.5rem;
}
.subtitle{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom:6rem;
}
