.rules{
    background-color: #E9D985;
    margin:0 1rem;
    padding:1rem;
    font-size: 2rem;
    border:solid 0.2rem;
    border-radius:1rem;
}
.rules h4{
    color:#5D4A66;
    text-align: center;
    padding-bottom:1rem;
}
.rules ul{
    margin-left:0.8rem;
    font-size:1.3rem;
    line-height: 2.5rem;
}