.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10rem;
    height:10rem;
    background-color: white;
    margin-top:3rem;
    border:solid 0.1rem #39d5fc;
    border-radius:50%;
}


.timer p{
    font-size: 2rem;
    font-weight: bold;
}
